/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2018, 10:02:28 AM
    Author     : juhijasmine
*/

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
#particles-js{
   height: 100%;
   background:url(../img/ilico_large.png);
   /* background-color: black; */
   background-size: cover;
   -webkit-background-size: cover;
   
   
}

 @media screen and (max-width: 600px) {
      #particles-js{
   height: 100%;
   background:url(../img/ilico_small.png);
   /* background-color: black; */
   background-size: cover;
   -webkit-background-size: cover;
   
   
}
    }
