/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2018, 10:02:28 AM
    Author     : juhijasmine
*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

#particles-js {
    height: 100%;
    background:url(../img/ilico_large.png);
    background-color: #053B60;
    background-size: cover;
    -webkit-background-size: cover;


}

@media screen and (max-width: 600px) {
    #particles-js {
        height: 100%;
        background:url(../img/ilico_small.png);
        /* background-color: #053B60; */
        background-size: cover;
        -webkit-background-size: cover;
    }
   
}
@media screen and (max-width: 768px) {

    #header_outer{
        height: 15%;
    }
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #4DB5E4;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    bottom:1px;
    right: 1px;
    width: 190px;
    border-radius: 15%;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    top: 15%;
    right: 1px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    /* border-radius: 15%; */
  }
  
  /* Add styles to the form container */
  .form-container {
    /* max-width: 300px; */
    padding: 10px;
    background-color: #4DB5E4;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=number]{
    /* width: 100%; */
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 30%;
    width:30%;
    display:inline;
  }
  .form-container input[type=checkbox] {
    width: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}